# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [23]:
def reverse(string):
    string=string[::-1]  # using slice operator to get the reverse 
    return string
value = input("Enter the string to be reversed:")
print("The original String is : ", end = "")
print(value)
print("The reversed string is :",(reverse(value)))

Enter the string to be reversed:vikas
The original String is : vikas
The reversed string is : sakiv

2. Check if a string is a palindrome.

In [19]:
def isPalindrome(string):
    string=string.lower() # to convert the function to lowercase
    return string==string[::-1]
string= input("Enter the string to be checked :")
result=isPalindrome(string)
if result:
    print("Yes")
else:
    print("No")

Enter the string to be checked :vikas
No

3. Convert a string to uppercase.

In [20]:
my_string =input("Enter the given string")
uppercase= my_string.upper()
print("Uppercase String is",uppercase)

Enter the given stringvikas
Uppercase String is VIKAS

4. Convert a string to lowercase.

In [26]:
my_string =input("Enter the given string :")
lowercase= my_string.lower()
print("Lowercase String is",lowercase)

Enter the given string :VIKAS
Lowercase String is vikas

5. Count the number of vowels in a string.

In [29]:
def count_vowels(input_string):
    vowels="AEIOUaeiou"
    vowel_count = 0
    for char in input_string:
        if char in vowels:
            vowel_count += 1
            print(char) # this will print all the vowles and if not required comment it
    return vowel_count

# take input from user
a = input("Enter the string:")

# calling the function and display the result
vowel_count = count_vowels(a)
print("Number of vowels:", vowel_count)

Enter the string:my name is vikas and what's your
a
e
i
i
a
a
a
o
u
Number of vowels: 9

6. Count the number of consonants in a string.

In [33]:
def count_consonants(input_string):
    vowels = "AEIOUaeiou"
    consonant_count = 0
    
    for char in input_string:
        if char.isalpha() and char not in vowels: # it will compare here with vowels if not found it will retrun as consonants
            consonant_count += 1
            print(char) # this will print all the consonant
    
    return consonant_count

# take the input from user
a = input("Enter the string :")
# calling the function and getting the result
consonant_count = count_consonants(a)
print("Number of consonants :", consonant_count)

Enter the string :my name is vikas and what's your
m
y
n
m
s
v
k
s
n
d
w
h
t
s
y
r
Number of consonants : 16

7. Remove all whitespaces from a string.

def remove(string):
    return string.replace(" ","")

a= input("Enter the string")
print(remove(a))

8. Find the length of a string without using the `len()` function.

In [35]:
def calculate_length(input_string):
    length = 0
    for char in input_string:
        length += 1 # increments the length and counter counts the values
    return length

# Get input from the user
a = input("Enter a string: ")

# Call the function and display the result
string_length = calculate_length(a)
print("Length of the string:", string_length)

Enter a string: vikas kumar yadav
Length of the string: 17

9. Check if a string contains a specific word.

In [37]:
def word(input_string, target_word):
    words = input_string.split() # split is going to split the string 
    return target_word in words

# take input from the user
a = input("Enter the string :")
b = input("Enter the word to check :")

# check if the word exists in the input string using split

if word(a,b):
    print(f"The string contains the given word '{b}''.")
else:
    print(f"The string does not contain the word '{b}'.")

Enter the string :my home town is in delhi
Enter the word to check :delhi
The string contains the given word 'delhi''.

10. Replace a word in a string with another word.

In [38]:
def replace_word(input_string, old_word, new_word):
    return input_string.replace(old_word, new_word)

# Take input from the user
a = input("Enter the string : ")
old_word = input("Enter the word to replace : ")
new_word = input("Enter the new word : ")

#replace the word in the input string
new_string = replace_word(a, old_word, new_word)
print("Modified string : ", new_string)

Enter the string : where is your home
Enter the word to replace : your
Enter the new word : our
Modified string :  where is our home

11. Count the occurrences of a word in a string.

In [41]:
def occurrences(input_string, target_word):
    words = input_string.split()
    count = 0
    
    for word in words:
        if word == target_word:
            count +=1
    
    return count

# Take the user input
a = input("Enter a string: ")
word_to_count = input("Enter the word to count: ")

#count the occurrences of the word in the input string
occurrences_count = occurrences(a, word_to_count)
print(f"The word '{word_to_count}' occurs{occurrences_count} times.")

Enter a string: what is happening
Enter the word to count: what
The word 'what' occurs1 times.

12. Find the first occurrence of a word in a string.

In [45]:
def first_occur(input_string, word_to_search):
    words = input_string.split()
    
    for index, word in enumerate(words):
        if word == word_to_search:
            return index
    
    # if word is not found
    return -1
a = input("Enter a string: ")
search_word = input("Enter the word to find: ")

# find the index of the first occurence of the word in the input string
occurrence = first_occur(a,search_word)

if occurrence != -1:
    print(f"The first occurrence of '{search_word}' is at index{search_word}.")
else:
    print(f"The first occurrence of '{search_word}' was not found in the string.")

Enter a string: when will you come to delhi my dear
Enter the word to find: delhi
The first occurrence of 'delhi' is at indexdelhi.

13. Find the last occurrence of a word in a string.

In [47]:
def last_occur(input_string, word_to_search):
    words = input_string.split()
    last_index = -1
    for index, word in enumerate(words):
        if word == word_to_search:
            last_index = index
    
    return last_index

#Taking input from the user
a= input("Enter the string: ")
search_word = input("Enter the word to find: ")

#Find the index of the last occurrence of the word in the input string
occurrence = last_occur(a, search_word)

if occurrence != -1:
    print(f"The last occurrence of '{search_word}' is at index{occurrence: }.")
else:
    print(f"The word '{search_word}' was not found in the string: .")

Enter the string: i like the way you drive
Enter the word to find: way
The last occurrence of 'way' is at index 3.

14. Split a string into a list of words.

In [49]:
def string_into_words(input_string):
    words = input_string.split()
    return words

# Take input from user
a= input("Enter the string: ")

#split the string into a list of words
word_list = string_into_words(a)

#display the list of words
print("List of words:", word_list)

Enter the string: when will you come
List of words: ['when', 'will', 'you', 'come']

15. Join a list of words into a string.

In [53]:
def join_words_to_string(word_list):
    return ' '.join(word_list)

# Get input from the user
user_input = input("Enter a list of words separated by spaces: ")
word_list = user_input.split()  # Split the input into a list of words

# Join the list of words into a single string
joined_string = join_words_to_string(word_list)

# Display the joined string
print("Joined string:", joined_string)

Enter a list of words separated by spaces: vikas kumar yadav
Joined string: vikas kumar yadav

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [52]:
def underscore(input_string):
    return '_'.join(input_string.split())

# take the user input
a= input("Enter the string with spaces between words: ")

#convert the string to use underscores between the words
underscore_string = underscore(a)

#display the converted string
print("String with underscores: ", underscore_string)

Enter the string with spaces between words: vikas kumar yadav
String with underscores:  vikas_kumar_yadav

17. Check if a string starts with a specific word or phrase.

In [1]:
my_string = "Hello, World!"

if my_string.startswith("Hello"):
    print("The string starts with 'Hello'")
else:
    print("The string does not start with 'Hello'")

The string starts with 'Hello'

18. Check if a string ends with a specific word or phrase.

In [2]:
my_string = "Hello, World!"

if my_string.endswith("World!"):
    print("The string ends with 'World!'")
else:
    print("The string does not end with 'World!'")

The string ends with 'World!'

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [3]:
my_string = "hello world"

title_case_string = my_string.title()

print("Original string:", my_string)
print("Title case string:", title_case_string)

Original string: hello world
Title case string: Hello World

20. Find the longest word in a string.

In [4]:
def find_longest_word(input_string):
    words = input_string.split()
    longest_word = max(words, key=len)
    return longest_word

my_string = "This is a sample sentence with some long words like elephant and hippopotamus."

result = find_longest_word(my_string)

print("Longest word:", result)

Longest word: hippopotamus.

21. Find the shortest word in a string.

In [5]:
def find_shortest_word(input_string):
    words = input_string.split()
    shortest_word = min(words, key=len)
    return shortest_word

my_string = "This is a sample sentence with some short words like cat and dog."

result = find_shortest_word(my_string)

print("Shortest word:", result)

Shortest word: a

22. Reverse the order of words in a string.

In [6]:
def reverse_words(input_string):
    words = input_string.split()
    reversed_words = ' '.join(reversed(words))
    return reversed_words

my_string = "This is a sample sentence."

result = reverse_words(my_string)

print("Original string:", my_string)
print("Reversed string:", result)

Original string: This is a sample sentence.
Reversed string: sentence. sample a is This

23. Check if a string is alphanumeric.

In [7]:
my_string = "Hello123"

if my_string.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

24. Extract all digits from a string.

In [8]:
my_string = "Hello123World456"

digits = [char for char in my_string if char.isdigit()]

result = ''.join(digits)

print("Original string:", my_string)
print("Extracted digits:", result)

Original string: Hello123World456
Extracted digits: 123456

25. Extract all alphabets from a string.

In [9]:
my_string = "Hello123World456"
alphabets = [char for char in my_string if char.isalpha()]

result = ''.join(alphabets)

print("Original string:", my_string)
print("Extracted alphabets:", result)

Original string: Hello123World456
Extracted alphabets: HelloWorld

26. Count the number of uppercase letters in a string.

In [10]:
my_string = "Hello World!"

uppercase_count = sum(1 for char in my_string if char.isupper())

print("Original string:", my_string)
print("Number of uppercase letters:", uppercase_count)

Original string: Hello World!
Number of uppercase letters: 2

27. Count the number of lowercase letters in a string.

In [11]:
my_string = "Hello World!"

lowercase_count = sum(1 for char in my_string if char.islower())

print("Original string:", my_string)
print("Number of lowercase letters:", lowercase_count)

Original string: Hello World!
Number of lowercase letters: 8

28. Swap the case of each character in a string.

In [12]:
my_string = "Hello World!"

swapped_string = my_string.swapcase()

print("Original string:", my_string)
print("Swapped case string:", swapped_string)

Original string: Hello World!
Swapped case string: hELLO wORLD!

29. Remove a specific word from a string.

In [13]:
original_string = "Hello world! This is a sample sentence."

word_to_remove = "world"

modified_string = original_string.replace(word_to_remove, "")

print("Original string:", original_string)
print(f"String after removing '{word_to_remove}':", modified_string)

Original string: Hello world! This is a sample sentence.
String after removing 'world': Hello ! This is a sample sentence.

30. Check if a string is a valid email address.

In [15]:
import re

def is_valid_email(email):
    # Define a simple regular expression for email validation
    email_pattern = re.compile(r'^[\w\.-]+@[a-zA-Z\d\.-]+\.[a-zA-Z]{2,}$')

    # Use the re.match() function to check if the email matches the pattern
    match = email_pattern.match(email)

    # If there is a match, it's a valid email
    return bool(match)

# Example usage:
email_to_check = "user@gmail.com"
if is_valid_email(email_to_check):
    print(f"{email_to_check} is a valid email address.")
else:
    print(f"{email_to_check} is not a valid email address.")

user@gmail.com is a valid email address.

31. Extract the username from an email address string.

In [17]:
def extract_username(email):
    # Split the email address at the "@" symbol
    parts = email.split('@')

    # Check if the email is valid (contains exactly one "@")
    if len(parts) == 2:
        # The username is the part before the "@"
        return parts[0]
    else:
        # Return None for invalid email addresses
        return None

# Example usage:
email_address = "user@gmail.com"
username = extract_username(email_address)

if username is not None:
    print(f"The username in {email_address} is {username}.")
else:
    print(f"{email_address} is not a valid email address.")

The username in user@gmail.com is user.

32. Extract the domain name from an email address string.

In [19]:
def extract_domain(email):
    # Split the email address at the "@" symbol
    parts = email.split('@')

    # Check if the email is valid (contains exactly one "@")
    if len(parts) == 2:
        # The domain is the part after the "@"
        return parts[1]
    else:
        # Return None for invalid email addresses
        return None

# Example usage:
email_address = "user@gmail.com"
domain = extract_domain(email_address)

if domain is not None:
    print(f"The domain in {email_address} is {domain}.")
else:
    print(f"{email_address} is not a valid email address.")

The domain in user@gmail.com is gmail.com.

33. Replace multiple spaces in a string with a single space.

In [20]:
import re

def replace_multiple_spaces(input_string):
    # Use a regular expression to replace multiple spaces with a single space
    modified_string = re.sub(r'\s+', ' ', input_string)

    return modified_string

# Example usage:
original_string = "This    is    a    string    with    multiple    spaces."
result = replace_multiple_spaces(original_string)

print("Original string:", original_string)
print("Modified string:", result)

Original string: This    is    a    string    with    multiple    spaces.
Modified string: This is a string with multiple spaces.

34. Check if a string is a valid URL.

In [21]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Example usage:
url_to_check = "https://www.google.com"
if is_valid_url(url_to_check):
    print(f"{url_to_check} is a valid URL.")
else:
    print(f"{url_to_check} is not a valid URL.")

https://www.google.com is a valid URL.

35. Extract the protocol (http or https) from a URL string.

In [22]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme

# Example usage:
url_to_extract = "https://www.google.com"
protocol = extract_protocol(url_to_extract)

print(f"The protocol in {url_to_extract} is {protocol}.")

The protocol in https://www.google.com is https.

36. Find the frequency of each character in a string.

In [23]:
def character_frequency(input_string):
    # Initialize an empty dictionary to store character frequencies
    frequency_dict = {}

    # Count the frequency of each character
    for char in input_string:
        # Use get() to initialize the count to 0 if the character is not in the dictionary
        frequency_dict[char] = frequency_dict.get(char, 0) + 1

    return frequency_dict

# Example usage:
my_string = "hello world"
frequency_result = character_frequency(my_string)

print(f"Character frequencies in '{my_string}':")
for char, count in frequency_result.items():
    print(f"'{char}': {count} times")

Character frequencies in 'hello world':
'h': 1 times
'e': 1 times
'l': 3 times
'o': 2 times
' ': 1 times
'w': 1 times
'r': 1 times
'd': 1 times

37. Remove all punctuation from a string.

In [24]:
import string

def remove_punctuation(input_string):
    # Create a translation table to map each punctuation character to None
    translation_table = str.maketrans("", "", string.punctuation)

    # Use translate() to remove punctuation from the string
    cleaned_string = input_string.translate(translation_table)

    return cleaned_string

# Example usage:
original_string = "Hello, World! This is an example string with punctuation!!!"
result = remove_punctuation(original_string)

print("Original string:", original_string)
print("String after removing punctuation:", result)

Original string: Hello, World! This is an example string with punctuation!!!
String after removing punctuation: Hello World This is an example string with punctuation

38. Check if a string contains only digits.

In [25]:
def contains_only_digits(input_string):
    return input_string.isdigit()

# Example usage:
my_string = "12345"

if contains_only_digits(my_string):
    print(f"{my_string} contains only digits.")
else:
    print(f"{my_string} does not contain only digits.")

12345 contains only digits.

39. Check if a string contains only alphabets.

In [26]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

# Example usage:
my_string = "Hello"

if contains_only_alphabets(my_string):
    print(f"{my_string} contains only alphabets.")
else:
    print(f"{my_string} does not contain only alphabets.")

Hello contains only alphabets.

40. Convert a string to a list of characters.

In [27]:
my_string = "Hello, World!"

# Convert the string to a list of characters
character_list = list(my_string)

# Print the result
print("Original string:", my_string)
print("List of characters:", character_list)

Original string: Hello, World!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

41. Check if two strings are anagrams.

In [28]:
def are_anagrams(str1, str2):
    # Convert both strings to lowercase and remove spaces for case-insensitive and space-insensitive comparison
    str1 = str1.lower().replace(" ", "")
    str2 = str2.lower().replace(" ", "")

    # Check if the sorted versions of the strings are the same
    return sorted(str1) == sorted(str2)

# Example usage:
string1 = "Listen"
string2 = "Silent"

if are_anagrams(string1, string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

Listen and Silent are anagrams.

42. Encode a string using a Caesar cipher.

In [29]:
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()

            # Shift the character by the specified amount
            shifted_char = chr((ord(char) - ord('A' if is_upper else 'a') + shift) % 26 + ord('A' if is_upper else 'a'))

            encrypted_text += shifted_char
        else:
            # Keep non-alphabetic characters unchanged
            encrypted_text += char

    return encrypted_text

# Example usage:
original_text = "Hello, World!"
shift_amount = 3
encrypted_text = caesar_cipher_encrypt(original_text, shift_amount)

print("Original text:", original_text)
print(f"Encrypted text (Caesar cipher with shift {shift_amount}):", encrypted_text)

Original text: Hello, World!
Encrypted text (Caesar cipher with shift 3): Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

In [30]:
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()

            # Shift the character by the specified amount
            shifted_char = chr((ord(char) - ord('A' if is_upper else 'a') + shift) % 26 + ord('A' if is_upper else 'a'))

            encrypted_text += shifted_char
        else:
            # Keep non-alphabetic characters unchanged
            encrypted_text += char

    return encrypted_text

# Example usage:
original_text = "Hello, World!"
shift_amount = 3
encrypted_text = caesar_cipher_encrypt(original_text, shift_amount)

print("Original text:", original_text)
print(f"Encrypted text (Caesar cipher with shift {shift_amount}):", encrypted_text)

Original text: Hello, World!
Encrypted text (Caesar cipher with shift 3): Khoor, Zruog!

44. Find the most frequent word in a string.

In [31]:
from collections import Counter
import re

def most_frequent_word(input_string):
    # Use regular expression to extract words
    words = re.findall(r'\b\w+\b', input_string.lower())

    # Use Counter to count word occurrences
    word_counts = Counter(words)

    # Find the most common word
    most_common_word, frequency = word_counts.most_common(1)[0]

    return most_common_word, frequency

# Example usage:
my_string = "This is a sample string. The sample string contains some sample words."

most_common, frequency = most_frequent_word(my_string)

print(f"The most frequent word is '{most_common}' with a frequency of {frequency} times.")

The most frequent word is 'sample' with a frequency of 3 times.

45. Find all unique words in a string.

In [32]:
import re

def unique_words(input_string):
    # Use regular expression to extract words
    words = re.findall(r'\b\w+\b', input_string.lower())

    # Use set to get unique words
    unique_word_set = set(words)

    return unique_word_set

# Example usage:
my_string = "This is a sample string. The sample string contains some sample words."

unique_words_set = unique_words(my_string)

print(f"Original string: {my_string}")
print(f"Unique words: {unique_words_set}")

Original string: This is a sample string. The sample string contains some sample words.
Unique words: {'this', 'contains', 'sample', 'string', 'some', 'the', 'words', 'is', 'a'}

46. Count the number of syllables in a string.

In [33]:
def count_syllables(word):
    vowels = "aeiouy"
    count = 0
    is_vowel = False

    for char in word.lower():
        if char in vowels:
            if not is_vowel:
                count += 1
                is_vowel = True
        else:
            is_vowel = False

    return count

def total_syllables(input_string):
    words = input_string.split()
    total = sum(count_syllables(word) for word in words)
    return total

# Example usage:
my_string = "Hello world! This is a sample sentence."

syllable_count = total_syllables(my_string)

print(f"Original string: {my_string}")
print(f"Total syllables: {syllable_count}")

Original string: Hello world! This is a sample sentence.
Total syllables: 11

47. Check if a string contains any special characters.

In [34]:
import re

def contains_special_characters(input_string):
    # Define a regular expression to match special characters
    special_characters_pattern = re.compile(r'[!@#$%^&*(),.?":{}|<>]')

    # Use re.search() to check if the pattern is found in the string
    return bool(re.search(special_characters_pattern, input_string))

# Example usage:
my_string = "Hello World!"
if contains_special_characters(my_string):
    print(f"{my_string} contains special characters.")
else:
    print(f"{my_string} does not contain special characters.")

Hello World! contains special characters.

48. Remove the nth word from a string.

In [35]:
def remove_nth_word(input_string, n):
    words = input_string.split()

    # Check if the specified index is within the bounds of the list
    if 1 <= n <= len(words):
        # Remove the nth word
        del words[n - 1]

        # Create a new string by joining the remaining words
        modified_string = ' '.join(words)

        return modified_string
    else:
        # If the index is out of bounds, return the original string
        return input_string

# Example usage:
original_string = "This is a sample sentence."
index_to_remove = 3

result = remove_nth_word(original_string, index_to_remove)

print(f"Original string: {original_string}")
print(f"String after removing the {index_to_remove}th word: {result}")

Original string: This is a sample sentence.
String after removing the 3th word: This is sample sentence.

49. Insert a word at the nth position in a string.

In [36]:
def insert_word_at_position(input_string, new_word, n):
    words = input_string.split()

    # Check if the specified index is within the bounds of the list
    if 0 <= n <= len(words):
        # Insert the new word at the specified position
        words.insert(n, new_word)

        # Create a new string by joining the modified list of words
        modified_string = ' '.join(words)

        return modified_string
    else:
        # If the index is out of bounds, return the original string
        return input_string

# Example usage:
original_string = "This is a sample sentence."
word_to_insert = "new"
index_to_insert = 2

result = insert_word_at_position(original_string, word_to_insert, index_to_insert)

print(f"Original string: {original_string}")
print(f"String after inserting '{word_to_insert}' at position {index_to_insert}: {result}")

Original string: This is a sample sentence.
String after inserting 'new' at position 2: This is new a sample sentence.

50. Convert a CSV string to a list of lists.

In [37]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Create a StringIO object to simulate a file-like object
    csv_file = StringIO(csv_string)

    # Use csv.reader to parse the CSV data into a list of lists
    csv_reader = csv.reader(csv_file)
    
    # Convert the csv_reader object to a list of lists
    list_of_lists = list(csv_reader)

    return list_of_lists

# Example usage:
csv_string = "Name, Age, City\nJohn, 25, New York\nAlice, 30, London\nBob, 22, Paris"

result = csv_string_to_list(csv_string)

print("CSV string:")
print(csv_string)
print("\nList of lists:")
print(result)

CSV string:
Name, Age, City
John, 25, New York
Alice, 30, London
Bob, 22, Paris

List of lists:
[['Name', ' Age', ' City'], ['John', ' 25', ' New York'], ['Alice', ' 30', ' London'], ['Bob', ' 22', ' Paris']]

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [38]:
# Using range() and list() to create a list of integers from 1 to 10
my_list = list(range(1, 11))

# Printing the result
print("List of integers from 1 to 10:", my_list)

List of integers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [39]:
def custom_len(my_list):
    count = 0
    for _ in my_list:
        count += 1
    return count

# Example usage:
my_list = [1, 2, 3, 4, 5]

length = custom_len(my_list)

print("List:", my_list)
print("Length of the list:", length)

List: [1, 2, 3, 4, 5]
Length of the list: 5

3. Append an element to the end of a list.

In [40]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Element to append
new_element = 6

# Append the element to the end of the list
my_list.append(new_element)

# Print the updated list
print("Original list:", my_list)

Original list: [1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list.

In [41]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Element to insert
new_element = 6

# Index at which to insert the element
index_to_insert = 2

# Insert the element at the specified index
my_list.insert(index_to_insert, new_element)

# Print the updated list
print("Original list:", my_list)

Original list: [1, 2, 6, 3, 4, 5]

5. Remove an element from a list by its value.

In [42]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Element to remove
element_to_remove = 3

# Remove the element by value
my_list.remove(element_to_remove)

# Print the updated list
print("Original list:", my_list)

Original list: [1, 2, 4, 5]

6. Remove an element from a list by its index.

In [43]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Index of the element to remove
index_to_remove = 2

# Remove the element at the specified index
removed_element = my_list.pop(index_to_remove)

# Print the updated list and the removed element
print("Original list:", my_list)
print(f"Removed element at index {index_to_remove}: {removed_element}")

Original list: [1, 2, 4, 5]
Removed element at index 2: 3

7. Check if an element exists in a list.

In [44]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Element to check
element_to_check = 3

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

8. Find the index of the first occurrence of an element in a list.

In [45]:
# Original list
my_list = [1, 2, 3, 4, 5, 3]

# Element to find
element_to_find = 3

try:
    # Find the index of the first occurrence of the element
    index_of_element = my_list.index(element_to_find)
    print(f"The index of the first occurrence of {element_to_find} is: {index_of_element}")
except ValueError:
    print(f"{element_to_find} is not in the list.")

The index of the first occurrence of 3 is: 2

9. Count the occurrences of an element in a list.

In [46]:
# Original list
my_list = [1, 2, 3, 4, 5, 3, 3]

# Element to count
element_to_count = 3

# Count the occurrences of the element in the list
occurrences = my_list.count(element_to_count)

print(f"The element {element_to_count} appears {occurrences} times in the list.")

The element 3 appears 3 times in the list.

10. Reverse the order of elements in a list.

In [48]:
# Using the reverse() method:
# Original list
my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements using the reverse() method
my_list.reverse()

# Print the updated list
print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

In [49]:
# Using slicing:
# Original list
my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements using slicing
reversed_list = my_list[::-1]

# Print the updated list
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [50]:
# Using the sort() method:
# Original list
my_list = [5, 2, 8, 1, 3]

# Sort the list in ascending order using the sort() method
my_list.sort()

# Print the sorted list
print("Sorted list:", my_list)

Sorted list: [1, 2, 3, 5, 8]

In [51]:
# Using the sorted() function:
# Original list
my_list = [5, 2, 8, 1, 3]

# Create a new sorted list using the sorted() function
sorted_list = sorted(my_list)

# Print the original and sorted lists
print("Original list:", my_list)
print("Sorted list:", sorted_list)

Original list: [5, 2, 8, 1, 3]
Sorted list: [1, 2, 3, 5, 8]

12. Sort a list in descending order.

In [52]:
# Using the sort() method:
# Original list
my_list = [5, 2, 8, 1, 3]

# Sort the list in descending order using the sort() method
my_list.sort(reverse=True)

# Print the sorted list
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [8, 5, 3, 2, 1]

In [53]:
# Using the sorted() function:
# Original list
my_list = [5, 2, 8, 1, 3]

# Create a new list sorted in descending order using the sorted() function
sorted_list_desc = sorted(my_list, reverse=True)

# Print the original and sorted lists
print("Original list:", my_list)
print("Sorted list in descending order:", sorted_list_desc)

Original list: [5, 2, 8, 1, 3]
Sorted list in descending order: [8, 5, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [54]:
# Using range() and list comprehension to create a list of even numbers from 1 to 20
even_numbers = [num for num in range(2, 21, 2)]

# Printing the result
print("List of even numbers from 1 to 20:", even_numbers)

List of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [55]:
# Using range() and list comprehension to create a list of odd numbers from 1 to 20
odd_numbers = [num for num in range(1, 21, 2)]

# Printing the result
print("List of odd numbers from 1 to 20:", odd_numbers)

List of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [56]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Find the sum of all elements in the list
sum_of_elements = sum(my_list)

# Print the result
print("Original list:", my_list)
print("Sum of all elements:", sum_of_elements)

Original list: [1, 2, 3, 4, 5]
Sum of all elements: 15

16. Find the maximum value in a list.

In [57]:
# Original list
my_list = [1, 7, 3, 9, 5]

# Find the maximum value in the list
max_value = max(my_list)

# Print the result
print("Original list:", my_list)
print("Maximum value:", max_value)

Original list: [1, 7, 3, 9, 5]
Maximum value: 9

17. Find the minimum value in a list.

In [58]:
# Original list
my_list = [1, 7, 3, 9, 5]

# Find the minimum value in the list
min_value = min(my_list)

# Print the result
print("Original list:", my_list)
print("Minimum value:", min_value)

Original list: [1, 7, 3, 9, 5]
Minimum value: 1

18. Create a list of squares of numbers from 1 to 10.

In [59]:
# Using list comprehension to create a list of squares of numbers from 1 to 10
squares = [num ** 2 for num in range(1, 11)]

# Printing the result
print("List of squares from 1 to 10:", squares)

List of squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [60]:
import random

# Create a list of 5 random floating-point numbers
random_numbers = [random.uniform(0, 1) for _ in range(5)]

# Print the result
print("List of random numbers:", random_numbers)

List of random numbers: [0.4614934611149306, 0.44602170897538806, 0.9187945434870254, 0.0660137988042504, 0.4691900341924098]

20. Remove duplicates from a list.

In [61]:
# Original list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates using set()
unique_list = list(set(my_list))

# Print the result
print("Original list with duplicates:", my_list)
print("List with duplicates removed:", unique_list)

Original list with duplicates: [1, 2, 2, 3, 4, 4, 5]
List with duplicates removed: [1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [62]:
# Two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find common elements using set intersection
common_elements = list(set(list1) & set(list2))

# Print the result
print("List 1:", list1)
print("List 2:", list2)
print("Common elements:", common_elements)

List 1: [1, 2, 3, 4, 5]
List 2: [3, 4, 5, 6, 7]
Common elements: [3, 4, 5]

22. Find the difference between two lists.

In [63]:
# Two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the difference using set difference
difference_list1 = list(set(list1) - set(list2))
difference_list2 = list(set(list2) - set(list1))

# Print the result
print("List 1:", list1)
print("List 2:", list2)
print("Elements unique to List 1:", difference_list1)
print("Elements unique to List 2:", difference_list2)

List 1: [1, 2, 3, 4, 5]
List 2: [3, 4, 5, 6, 7]
Elements unique to List 1: [1, 2]
Elements unique to List 2: [6, 7]

23. Merge two lists.

In [64]:
# Using the + operator:
# Two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the lists using the + operator
merged_list = list1 + list2

# Print the result
print("List 1:", list1)
print("List 2:", list2)
print("Merged list:", merged_list)

List 1: [1, 2, 3]
List 2: [4, 5, 6]
Merged list: [1, 2, 3, 4, 5, 6]

In [65]:
# Using the extend() method:
# Two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the lists using the extend() method
list1.extend(list2)

# Print the result
print("List 1:", list1)
print("List 2:", list2)  # Note that list2 remains unchanged

List 1: [1, 2, 3, 4, 5, 6]
List 2: [4, 5, 6]

24. Multiply all elements in a list by 2.

In [66]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Multiply all elements by 2 using list comprehension
doubled_list = [element * 2 for element in my_list]

# Print the result
print("Original list:", my_list)
print("Doubled list:", doubled_list)

Original list: [1, 2, 3, 4, 5]
Doubled list: [2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [67]:
# Original list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out even numbers using list comprehension
filtered_list = [number for number in my_list if number % 2 != 0]

# Print the result
print("Original list:", my_list)
print("Filtered list (excluding even numbers):", filtered_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filtered list (excluding even numbers): [1, 3, 5, 7, 9]

26. Convert a list of strings to al list of integers.

In [68]:
# List of strings
string_list = ["1", "2", "3", "4", "5"]

# Convert the list of strings to a list of integers
integer_list = [int(element) for element in string_list]

# Print the result
print("Original list of strings:", string_list)
print("Converted list of integers:", integer_list)

Original list of strings: ['1', '2', '3', '4', '5']
Converted list of integers: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [69]:
# List of integers
integer_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings
string_list = [str(element) for element in integer_list]

# Print the result
print("Original list of integers:", integer_list)
print("Converted list of strings:", string_list)

Original list of integers: [1, 2, 3, 4, 5]
Converted list of strings: ['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [70]:
def flatten(nested_list):
    flat_list = []
    for element in nested_list:
        if isinstance(element, list):
            flat_list.extend(flatten(element))
        else:
            flat_list.append(element)
    return flat_list

# Nested list
nested_list = [1, [2, [3, 4], 5], 6, [7, 8]]

# Flatten the nested list
flattened_list = flatten(nested_list)

# Print the result
print("Nested list:", nested_list)
print("Flattened list:", flattened_list)

Nested list: [1, [2, [3, 4], 5], 6, [7, 8]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

29. Create a list of the first 10 Fibonacci numbers.

In [71]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        next_number = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_number)
    return fibonacci_list[:n]

# Generate the first 10 Fibonacci numbers
first_10_fibonacci = generate_fibonacci(10)

# Print the result
print("First 10 Fibonacci numbers:", first_10_fibonacci)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [72]:
# Function to check if a list is sorted
def is_sorted(my_list):
    return my_list == sorted(my_list)

# Example lists
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 1, 5, 9, 2, 6]

# Check if the lists are sorted
print("Is the sorted list sorted?", is_sorted(sorted_list))
print("Is the unsorted list sorted?", is_sorted(unsorted_list))

Is the sorted list sorted? True
Is the unsorted list sorted? False

31. Rotate a list to the left by `n` positions.

In [73]:
# Function to rotate a list to the left by n positions
def rotate_left(my_list, n):
    return my_list[n:] + my_list[:n]

# Example list
original_list = [1, 2, 3, 4, 5]

# Rotate the list to the left by 2 positions
rotated_list = rotate_left(original_list, 2)

# Print the result
print("Original list:", original_list)
print("Rotated list:", rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [74]:
# Function to rotate a list to the right by n positions
def rotate_right(my_list, n):
    # Calculate the split index
    split_index = len(my_list) - n

    # Rotate the list to the right
    rotated_list = my_list[split_index:] + my_list[:split_index]

    return rotated_list

# Example list
original_list = [1, 2, 3, 4, 5]

# Rotate the list to the right by 2 positions
rotated_list = rotate_right(original_list, 2)

# Print the result
print("Original list:", original_list)
print("Rotated list:", rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [75]:
# Function to check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

# Print the result
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [76]:
# Function to split a list into chunks of size n
def split_into_chunks(my_list, n):
    return [my_list[i:i + n] for i in range(0, len(my_list), n)]

# Example list
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Split the list into chunks of size 3
chunked_list = split_into_chunks(original_list, 3)

# Print the result
print("Original list:", original_list)
print("Chunked list:", chunked_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Chunked list: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [77]:
# Function to find the second largest number in a list
def second_largest(my_list):
    sorted_list = sorted(my_list, reverse=True)
    if len(sorted_list) >= 2:
        return sorted_list[1]
    else:
        return None

# Example list
numbers = [5, 2, 8, 10, 3, 7]

# Find the second largest number
result = second_largest(numbers)

# Print the result
print("Original list:", numbers)
print("Second largest number:", result)

Original list: [5, 2, 8, 10, 3, 7]
Second largest number: 8

36. Replace every element in a list with its square.

In [78]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Replace every element with its square using list comprehension
squared_list = [element ** 2 for element in my_list]

# Print the result
print("Original list:", my_list)
print("List with elements squared:", squared_list)

Original list: [1, 2, 3, 4, 5]
List with elements squared: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [79]:
# Original list
my_list = ['apple', 'banana', 'orange', 'grape']

# Convert the list to a dictionary
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the result
print("Original list:", my_list)
print("Dictionary:", my_dict)

Original list: ['apple', 'banana', 'orange', 'grape']
Dictionary: {'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

38. Shuffle the elements of a list randomly.

In [80]:
import random

# Original list
my_list = [1, 2, 3, 4, 5]

# Create a shuffled copy of the list
shuffled_list = random.sample(my_list, len(my_list))

# Print the result
print("Original list:", my_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5]
Shuffled list: [4, 5, 1, 2, 3]

39. Create a list of the first 10 factorial numbers.

In [81]:
# Function to calculate the factorial of a number
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Generate a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the result
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [83]:
# Using the intersection of sets:
# Two lists
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

# Check if the lists have at least one element in common using set intersection
common_elements = set(list1) & set(list2)

# Print the result
if common_elements:
    print("The lists have at least one element in common:", common_elements)
else:
    print("The lists have no elements in common.")

The lists have at least one element in common: {5}

In [84]:
# Using iteration:
# Two lists
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

# Check if the lists have at least one element in common using iteration
common_elements = any(element in list1 for element in list2)

# Print the result
if common_elements:
    print("The lists have at least one element in common.")
else:
    print("The lists have no elements in common.")

The lists have at least one element in common.

41. Remove all elements from a list.

In [85]:
# Using clear() method:
# Original list
my_list = [1, 2, 3, 4, 5]

# Remove all elements using clear()
my_list.clear()

# Print the result
print("List after removing all elements:", my_list)

List after removing all elements: []

In [86]:
# Assigning an empty list:
# Original list
my_list = [1, 2, 3, 4, 5]

# Remove all elements by assigning an empty list
my_list = []

# Print the result
print("List after removing all elements:", my_list)

List after removing all elements: []

42. Replace negative numbers in a list with 0.

In [87]:
# Original list
my_list = [1, -2, 3, -4, 5, -6]

# Replace negative numbers with 0 using list comprehension
modified_list = [max(0, num) for num in my_list]

# Print the result
print("Original list:", my_list)
print("List with negative numbers replaced by 0:", modified_list)

Original list: [1, -2, 3, -4, 5, -6]
List with negative numbers replaced by 0: [1, 0, 3, 0, 5, 0]

43. Convert a string into a list of words.

In [88]:
# Original string
my_string = "Hello world, this is a sample string."

# Convert the string into a list of words
word_list = my_string.split()

# Print the result
print("Original string:", my_string)
print("List of words:", word_list)

Original string: Hello world, this is a sample string.
List of words: ['Hello', 'world,', 'this', 'is', 'a', 'sample', 'string.']

44. Convert a list of words into a string.

In [89]:
# List of words
word_list = ['Hello', 'world,', 'this', 'is', 'a', 'sample', 'string.']

# Convert the list of words into a string
my_string = ' '.join(word_list)

# Print the result
print("List of words:", word_list)
print("Converted string:", my_string)

List of words: ['Hello', 'world,', 'this', 'is', 'a', 'sample', 'string.']
Converted string: Hello world, this is a sample string.

45. Create a list of the first `n` powers of 2.

In [90]:
# Generate a list of the first n powers of 2
n = 5  # Change this to the desired number of powers
powers_of_2 = [2 ** i for i in range(n)]

# Print the result
print("List of the first", n, "powers of 2:", powers_of_2)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [91]:
# List of strings
string_list = ['apple', 'banana', 'kiwi', 'strawberry', 'blueberry']

# Find the longest string
longest_string = max(string_list, key=len)

# Print the result
print("List of strings:", string_list)
print("Longest string:", longest_string)

List of strings: ['apple', 'banana', 'kiwi', 'strawberry', 'blueberry']
Longest string: strawberry

47. Find the shortest string in a list of strings.

In [92]:
# List of strings
string_list = ['apple', 'banana', 'kiwi', 'strawberry', 'blueberry']

# Find the shortest string
shortest_string = min(string_list, key=len)

# Print the result
print("List of strings:", string_list)
print("Shortest string:", shortest_string)

List of strings: ['apple', 'banana', 'kiwi', 'strawberry', 'blueberry']
Shortest string: kiwi

48. Create a list of the first `n` triangular numbers.

In [93]:
# Function to calculate the nth triangular number
def triangular_number(n):
    return n * (n + 1) // 2

# Generate a list of the first n triangular numbers
n = 5  # Change this to the desired number of triangular numbers
triangular_numbers = [triangular_number(i) for i in range(1, n + 1)]

# Print the result
print("List of the first", n, "triangular numbers:", triangular_numbers)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [94]:
# Function to check if list1 contains list2 as a subsequence
def is_subsequence(list1, list2):
    iter_list1 = iter(list1)
    return all(item in iter_list1 for item in list2)

# Example lists
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [3, 5, 8]

# Check if list1 contains list2 as a subsequence
result = is_subsequence(list1, list2)

# Print the result
print("List 1:", list1)
print("List 2:", list2)
print("List 1 contains List 2 as a subsequence:", result)

List 1: [1, 2, 3, 4, 5, 6, 7, 8, 9]
List 2: [3, 5, 8]
List 1 contains List 2 as a subsequence: True

50. Swap two elements in a list by their indices.

In [95]:
# Function to swap two elements in a list by their indices
def swap_elements(my_list, index1, index2):
    my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

# Example list
my_list = [1, 2, 3, 4, 5]

# Swap elements at indices 1 and 3
swap_elements(my_list, 1, 3)

# Print the result
print("Original list:", my_list)

Original list: [1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [96]:
# Using the tuple() constructor
my_tuple1 = tuple(range(1, 6))

# Using parentheses directly
my_tuple2 = (1, 2, 3, 4, 5)

# Print the results
print("Tuple created using tuple():", my_tuple1)
print("Tuple created using parentheses:", my_tuple2)

Tuple created using tuple(): (1, 2, 3, 4, 5)
Tuple created using parentheses: (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [97]:
my_tuple = [10,20,30,40,50]
# Access the third element
third_element = my_tuple[2]
# print the result
print("Tuplee:", my_tuple)
print("Third element:", third_element)

Tuplee: [10, 20, 30, 40, 50]
Third element: 30

3. Find the length of a tuple without using the `len()` function.

In [98]:
# Example tuple
my_tuple = (10, 20, 30, 40, 50)

# Find the length of the tuple without using len()
tuple_length = 0
for _ in my_tuple:
    tuple_length += 1

# Print the result
print("Tuple:", my_tuple)
print("Length of the tuple:", tuple_length)

Tuple: (10, 20, 30, 40, 50)
Length of the tuple: 5

4. Count the occurrences of an element in a tuple.

In [99]:
# Example tuple
my_tuple = (10, 20, 30, 40, 20, 50, 20)

# Count the occurrences of an element
element_to_count = 20
occurrences = my_tuple.count(element_to_count)

# Print the result
print("Tuple:", my_tuple)
print("Occurrences of", element_to_count, "in the tuple:", occurrences)

Tuple: (10, 20, 30, 40, 20, 50, 20)
Occurrences of 20 in the tuple: 3

5. Find the index of the first occurence of an element in a tuple.

In [100]:
# Example tuple
my_tuple = (10, 20, 30, 40, 20, 50, 20)

# Find the index of the first occurrence of an element
element_to_find = 20
index_of_element = my_tuple.index(element_to_find)

# Print the result
print("Tuple:", my_tuple)
print("Index of the first occurrence of", element_to_find, ":", index_of_element)

Tuple: (10, 20, 30, 40, 20, 50, 20)
Index of the first occurrence of 20 : 1

6. Check if an element exists in a tuple.

In [101]:
# Example tuple
my_tuple = (10, 20, 30, 40, 50)

# Element to check
element_to_check = 30

# Check if the element exists in the tuple
if element_to_check in my_tuple:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

The element 30 exists in the tuple.

7. Convert a tuple to a list

In [102]:
# Example tuple
my_tuple = (10, 20, 30, 40, 50)

# Convert the tuple to a list
my_list = list(my_tuple)

# Print the results
print("Original tuple:", my_tuple)
print("Converted list:", my_list)

Original tuple: (10, 20, 30, 40, 50)
Converted list: [10, 20, 30, 40, 50]

8. Convert a list to a tuple.

In [103]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Print the results
print("Original list:", my_list)
print("Converted tuple:", my_tuple)

Original list: [10, 20, 30, 40, 50]
Converted tuple: (10, 20, 30, 40, 50)

9. Unpack the elements of a tuple into variables.

In [104]:
# Example tuple
my_tuple = (10, 20, 30)

# Unpack the tuple into variables
var1, var2, var3 = my_tuple

# Print the results
print("Original tuple:", my_tuple)
print("Unpacked variables:", var1, var2, var3)

Original tuple: (10, 20, 30)
Unpacked variables: 10 20 30

10. Create a tuple of even numbers from 1 to 10.

In [105]:
# Create a tuple of even numbers from 1 to 10
even_numbers_tuple = tuple(i for i in range(2, 11, 2))

# Print the result
print("Tuple of even numbers from 1 to 10:", even_numbers_tuple)

Tuple of even numbers from 1 to 10: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [106]:
# Create a tuple of odd numbers from 1 to 10
odd_numbers_tuple = tuple(range(1, 11, 2))

# Print the result
print("Tuple of odd numbers from 1 to 10:", odd_numbers_tuple)

Tuple of odd numbers from 1 to 10: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [107]:
# Two example tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Print the result
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Concatenated tuple:", concatenated_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Concatenated tuple: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [108]:
# Example tuple
my_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = my_tuple * 3

# Print the results
print("Original tuple:", my_tuple)
print("Repeated tuple three times:", repeated_tuple)

Original tuple: (1, 2, 3)
Repeated tuple three times: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [109]:
# Example tuples
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Check if the tuples are empty
is_empty_empty_tuple = not bool(empty_tuple)
is_empty_non_empty_tuple = not bool(non_empty_tuple)

# Using len() function
len_empty_tuple = len(empty_tuple)
len_non_empty_tuple = len(non_empty_tuple)

# Print the results
print("Is empty_tuple empty?", is_empty_empty_tuple)
print("Is non_empty_tuple empty?", is_empty_non_empty_tuple)

# Using len() function
print("Length of empty_tuple:", len_empty_tuple)
print("Length of non_empty_tuple:", len_non_empty_tuple)

Is empty_tuple empty? True
Is non_empty_tuple empty? False
Length of empty_tuple: 0
Length of non_empty_tuple: 3

15. Create a nested tuple.

In [110]:
# Example tuples
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Check if the tuples are empty
is_empty_empty_tuple = not bool(empty_tuple)
is_empty_non_empty_tuple = not bool(non_empty_tuple)

# Using len() function
len_empty_tuple = len(empty_tuple)
len_non_empty_tuple = len(non_empty_tuple)

# Print the results
print("Is empty_tuple empty?", is_empty_empty_tuple)
print("Is non_empty_tuple empty?", is_empty_non_empty_tuple)

# Using len() function
print("Length of empty_tuple:", len_empty_tuple)
print("Length of non_empty_tuple:", len_non_empty_tuple)

Is empty_tuple empty? True
Is non_empty_tuple empty? False
Length of empty_tuple: 0
Length of non_empty_tuple: 3

16. Access the first element of a nested tuple.

In [111]:
# Example of a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Access the first element of the nested tuple
first_element = nested_tuple[0]

# Print the result
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

17. Create a tuple with a single element.

In [112]:
# Creating a tuple with a single element
single_element_tuple = (42,)

# Print the result
print("Tuple with a single element:", single_element_tuple)

Tuple with a single element: (42,)

18. Compare two tuples.

In [113]:
# Example tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare the tuples
equal = tuple1 == tuple2
not_equal = tuple1 != tuple2
greater_than = tuple1 > tuple2
less_than_or_equal = tuple1 <= tuple2

# Print the results
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Equal:", equal)
print("Not Equal:", not_equal)
print("Greater Than:", greater_than)
print("Less Than or Equal:", less_than_or_equal)

Tuple 1: (1, 2, 3)
Tuple 2: (1, 2, 4)
Equal: False
Not Equal: True
Greater Than: False
Less Than or Equal: True

19. Delete a tuple.

In [114]:
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Delete the entire tuple
del my_tuple

# Attempting to access the tuple after deletion will raise an error
# Uncomment the line below to see the error
# print(my_tuple)

20. Slice a tuple.

In [115]:
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Slice the tuple to get a subset
subset_tuple = my_tuple[1:4]

# Print the results
print("Original tuple:", my_tuple)
print("Subset tuple:", subset_tuple)

Original tuple: (1, 2, 3, 4, 5)
Subset tuple: (2, 3, 4)

21. Find the maximum value in a tuple.

In [116]:
# Example tuple
my_tuple = (10, 5, 20, 15, 25)

# Find the maximum value in the tuple
max_value = max(my_tuple)

# Print the result
print("Tuple:", my_tuple)
print("Maximum value:", max_value)

Tuple: (10, 5, 20, 15, 25)
Maximum value: 25

22. Find the minimum value in a tuple.

In [117]:
# Example tuple
my_tuple = (10, 5, 20, 15, 25)

# Find the minimum value in the tuple
min_value = min(my_tuple)

# Print the result
print("Tuple:", my_tuple)
print("Minimum value:", min_value)

Tuple: (10, 5, 20, 15, 25)
Minimum value: 5

23. Convert a string to a tuple of characters.

In [118]:
# Example string
my_string = "hello"

# Convert the string to a tuple of characters
char_tuple = tuple(my_string)

# Print the results
print("Original string:", my_string)
print("Tuple of characters:", char_tuple)

Original string: hello
Tuple of characters: ('h', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [119]:
# Example tuple of characters
char_tuple = ('h', 'e', 'l', 'l', 'o')

# Convert the tuple to a string
resulting_string = "".join(char_tuple)

# Print the results
print("Original tuple of characters:", char_tuple)
print("Resulting string:", resulting_string)

Original tuple of characters: ('h', 'e', 'l', 'l', 'o')
Resulting string: hello

25. Create a tuple from multiple data types.

In [120]:
# Example tuple with multiple data types
mixed_tuple = (1, "hello", 3.14, True)

# Print the result
print("Mixed tuple:", mixed_tuple)

Mixed tuple: (1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [121]:
# Example tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Check if tuple1 and tuple2 are identical
are_identical_1_2 = tuple1 == tuple2

# Check if tuple1 and tuple3 are identical
are_identical_1_3 = tuple1 == tuple3

# Print the results
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Tuple 3:", tuple3)
print("Are tuple1 and tuple2 identical?", are_identical_1_2)
print("Are tuple1 and tuple3 identical?", are_identical_1_3)

Tuple 1: (1, 2, 3)
Tuple 2: (1, 2, 3)
Tuple 3: (4, 5, 6)
Are tuple1 and tuple2 identical? True
Are tuple1 and tuple3 identical? False

27. Sort the elements of a tuple.

In [122]:
# Example tuple
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6)

# Create a new tuple with sorted elements
sorted_tuple = tuple(sorted(my_tuple))

# Print the results
print("Original tuple:", my_tuple)
print("Sorted tuple:", sorted_tuple)

Original tuple: (3, 1, 4, 1, 5, 9, 2, 6)
Sorted tuple: (1, 1, 2, 3, 4, 5, 6, 9)

28. Convert a tuple of integers to a tuple of strings.

In [123]:
# Example tuple of integers
int_tuple = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
str_tuple = tuple(str(i) for i in int_tuple)

# Print the results
print("Original tuple of integers:", int_tuple)
print("Tuple of strings:", str_tuple)

Original tuple of integers: (1, 2, 3, 4, 5)
Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [124]:
# Example tuple of strings
str_tuple = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
int_tuple = tuple(int(s) for s in str_tuple)

# Print the results
print("Original tuple of strings:", str_tuple)
print("Tuple of integers:", int_tuple)

Original tuple of strings: ('1', '2', '3', '4', '5')
Tuple of integers: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [125]:
# Example tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples
merged_tuple = tuple1 + tuple2

# Print the results
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Merged tuple:", merged_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [126]:
# Example nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

def flatten_tuple(nested_tuple):
    flat_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_list.extend(flatten_tuple(item))
        else:
            flat_list.append(item)
    return flat_list

# Flatten the nested tuple
flat_tuple = tuple(flatten_tuple(nested_tuple))

# Print the results
print("Original nested tuple:", nested_tuple)
print("Flattened tuple:", flat_tuple)

Original nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))
Flattened tuple: (1, 2, 3, 'a', 'b', 'c', True, False)

32. Create a tuple of the first 5 prime numbers.

In [127]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers = []
num = 2

while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.append(num)
    num += 1

# Convert the list to a tuple
prime_tuple = tuple(prime_numbers)

# Print the results
print("Tuple of the first 5 prime numbers:", prime_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [128]:
# Example tuple
my_tuple = (1, 2, 3, 2, 1)

# Check if the tuple is a palindrome
is_palindrome = my_tuple == my_tuple[::-1]

# Print the results
print("Original tuple:", my_tuple)
print("Is palindrome?", is_palindrome)

Original tuple: (1, 2, 3, 2, 1)
Is palindrome? True

34. Create a tuple of squares of numbers from 1 to 5.

In [129]:
# Create a tuple of squares of numbers from 1 to 5
squares_tuple = tuple(x**2 for x in range(1, 6))

# Print the result
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [130]:
# Example tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers from the tuple
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

# Print the results
print("Original tuple:", original_tuple)
print("Filtered tuple (without even numbers):", filtered_tuple)

Original tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Filtered tuple (without even numbers): (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [131]:
# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2
doubled_tuple = tuple(x * 2 for x in original_tuple)

# Print the results
print("Original tuple:", original_tuple)
print("Doubled tuple:", doubled_tuple)

Original tuple: (1, 2, 3, 4, 5)
Doubled tuple: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [132]:
import random

# Create a tuple of 5 random numbers between 1 and 10
random_tuple = tuple(random.randint(1, 10) for _ in range(5))

# Print the result
print("Tuple of random numbers:", random_tuple)

Tuple of random numbers: (10, 6, 9, 10, 8)

38. Check if a tuple is sorted.

In [133]:
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Check if the tuple is sorted
is_sorted = all(my_tuple[i] <= my_tuple[i + 1] for i in range(len(my_tuple) - 1))

# Print the results
print("Original tuple:", my_tuple)
print("Is sorted?", is_sorted)

Original tuple: (1, 2, 3, 4, 5)
Is sorted? True

39. Rotate a tuple to the left by `n` positions.

In [134]:
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Number of positions to rotate
n = 2

# Rotate the tuple to the left by n positions
rotated_tuple = my_tuple[n:] + my_tuple[:n]

# Print the results
print("Original tuple:", my_tuple)
print(f"Rotated tuple to the left by {n} positions:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple to the left by 2 positions: (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [135]:
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Number of positions to rotate
n = 2

# Calculate the rotation index
rotation_index = len(my_tuple) - n

# Rotate the tuple to the right by n positions
rotated_tuple = my_tuple[rotation_index:] + my_tuple[:rotation_index]

# Print the results
print("Original tuple:", my_tuple)
print(f"Rotated tuple to the right by {n} positions:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple to the right by 2 positions: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [136]:
# Function to generate Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    for _ in range(2, n):
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_number)
    return tuple(fibonacci_numbers)

# Generate a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the result
print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [137]:
# Get user input as a space-separated string of values
user_input_str = input("Enter values separated by spaces: ")

# Split the input string into a list of strings
input_values = user_input_str.split()

# Convert the list of strings to a tuple
user_tuple = tuple(input_values)

# Print the result
print("User input as tuple:", user_tuple)

Enter values separated by spaces: v i k
User input as tuple: ('v', 'i', 'k')

43. Swap two elements in a tuple.

In [138]:
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Indices of the elements to swap
index1, index2 = 1, 3  # Swap elements at indices 1 and 3

# Convert the tuple to a list to facilitate swapping
tuple_list = list(my_tuple)

# Swap the elements
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

# Convert the list back to a tuple
swapped_tuple = tuple(tuple_list)

# Print the results
print("Original tuple:", my_tuple)
print("Tuple with elements swapped:", swapped_tuple)

Original tuple: (1, 2, 3, 4, 5)
Tuple with elements swapped: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [139]:
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements of the tuple
reversed_tuple = my_tuple[::-1]

# Print the results
print("Original tuple:", my_tuple)
print("Reversed tuple:", reversed_tuple)

Original tuple: (1, 2, 3, 4, 5)
Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [140]:
# Function to generate the first n powers of 2
def generate_powers_of_2(n):
    return tuple(2 ** i for i in range(n))

# Specify the number of powers you want
n = 5

# Generate a tuple of the first n powers of 2
powers_of_2_tuple = generate_powers_of_2(n)

# Print the result
print(f"Tuple of the first {n} powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [141]:
# Example tuple of strings
my_tuple = ("apple", "banana", "kiwi", "strawberry", "orange")

# Find the longest string in the tuple
longest_string = max(my_tuple, key=len)

# Print the result
print("Tuple of strings:", my_tuple)
print("Longest string:", longest_string)

Tuple of strings: ('apple', 'banana', 'kiwi', 'strawberry', 'orange')
Longest string: strawberry

47. Find the shortest string in a tuple of strings.

In [142]:
# Example tuple of strings
my_tuple = ("apple", "banana", "kiwi", "strawberry", "orange")

# Find the shortest string in the tuple
shortest_string = min(my_tuple, key=len)

# Print the result
print("Tuple of strings:", my_tuple)
print("Shortest string:", shortest_string)

Tuple of strings: ('apple', 'banana', 'kiwi', 'strawberry', 'orange')
Shortest string: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [143]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = []
    current_sum = 0
    for i in range(1, n + 1):
        current_sum += i
        triangular_numbers.append(current_sum)
    return tuple(triangular_numbers)

# Specify the number of triangular numbers you want
n = 5

# Generate a tuple of the first n triangular numbers
triangular_numbers_tuple = generate_triangular_numbers(n)

# Print the result
print(f"Tuple of the first {n} triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [144]:
# Function to check if tuple2 is a subsequence of tuple1
def is_subsequence(tuple1, tuple2):
    len_tuple1 = len(tuple1)
    len_tuple2 = len(tuple2)

    for i in range(len_tuple1 - len_tuple2 + 1):
        if tuple1[i:i+len_tuple2] == tuple2:
            return True

    return False

# Example tuples
tuple1 = (1, 2, 3, 4, 5, 6)
tuple2 = (3, 4, 5)

# Check if tuple2 is a subsequence of tuple1
result = is_subsequence(tuple1, tuple2)

# Print the result
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Is tuple2 a subsequence of tuple1?", result)

Tuple 1: (1, 2, 3, 4, 5, 6)
Tuple 2: (3, 4, 5)
Is tuple2 a subsequence of tuple1? True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [145]:
# Function to generate a tuple of alternating 1s and 0s
def generate_alternating_tuple(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Specify the length of the tuple
n = 8

# Generate the tuple of alternating 1s and 0s
alternating_tuple = generate_alternating_tuple(n)

# Print the result
print(f"Tuple of alternating 1s and 0s of length {n}:", alternating_tuple)

Tuple of alternating 1s and 0s of length 8: (1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem:

1. Create a set with integers from 1 to 5.

In [146]:
# Function to generate a tuple of alternating 1s and 0s
def generate_alternating_tuple(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Specify the length of the tuple
n = 8

# Generate the tuple of alternating 1s and 0s
alternating_tuple = generate_alternating_tuple(n)

# Print the result
print(f"Tuple of alternating 1s and 0s of length {n}:", alternating_tuple)

Tuple of alternating 1s and 0s of length 8: (1, 0, 1, 0, 1, 0, 1, 0)

2. Add an element to a set.

In [147]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Add an element to the set
my_set.add(6)

# Print the updated set
print("Updated set:", my_set)

Updated set: {1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [148]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element using the remove() method
my_set.remove(3)

# Print the set after removal
print("Set after using remove():", my_set)

# Remove an element using the discard() method
my_set.discard(5)

# Print the set after removal
print("Set after using discard():", my_set)

Set after using remove(): {1, 2, 4, 5}
Set after using discard(): {1, 2, 4}

4. Check if an element exists in a set.

In [149]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set
element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

5. Find the length of a set without using the `len()` function.

In [150]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Find the length of the set without using len()
length = 0
for _ in my_set:
    length += 1

# Print the result
print("Length of the set:", length)

Length of the set: 5

6. Clear all elements from a set.

In [151]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the set after clearing
print("Set after clearing:", my_set)

Set after clearing: set()

7. Create a set of even numbers from 1 to 10.

In [152]:
# Create a set of even numbers from 1 to 10 using a set comprehension
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}

# Print the result
print("Set of even numbers from 1 to 10:", even_numbers_set)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [154]:
# Create a set of odd numbers from 1 to 10 using a set comprehension
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}

# Print the result
print("Set of odd numbers from 1 to 10:", odd_numbers_set)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [155]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union using the union() method
union_result_method = set1.union(set2)

# Find the union using the | operator
union_result_operator = set1 | set2

# Print the results
print("Union using union() method:", union_result_method)
print("Union using | operator:", union_result_operator)

Union using union() method: {1, 2, 3, 4, 5, 6, 7, 8}
Union using | operator: {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [156]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the intersection using the intersection() method
intersection_result_method = set1.intersection(set2)

# Find the intersection using the & operator
intersection_result_operator = set1 & set2

# Print the results
print("Intersection using intersection() method:", intersection_result_method)
print("Intersection using & operator:", intersection_result_operator)

Intersection using intersection() method: {4, 5}
Intersection using & operator: {4, 5}

11. Find the difference between two sets.

In [157]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the difference using the difference() method
difference_result_method = set1.difference(set2)

# Find the difference using the - operator
difference_result_operator = set1 - set2

# Print the results
print("Difference using difference() method:", difference_result_method)
print("Difference using - operator:", difference_result_operator)

Difference using difference() method: {1, 2, 3}
Difference using - operator: {1, 2, 3}

12. Check if a set is a subset of another set.

In [158]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set2 is a subset of set1 using the issubset() method
is_subset_method = set2.issubset(set1)

# Check if set2 is a subset of set1 using the <= operator
is_subset_operator = set2 <= set1

# Print the results
print("Is set2 a subset of set1 using issubset() method:", is_subset_method)
print("Is set2 a subset of set1 using <= operator:", is_subset_operator)

Is set2 a subset of set1 using issubset() method: True
Is set2 a subset of set1 using <= operator: True

13. Check if a set is a superset of another set.

In [159]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set1 is a superset of set2 using the issuperset() method
is_superset_method = set1.issuperset(set2)

# Check if set1 is a superset of set2 using the >= operator
is_superset_operator = set1 >= set2

# Print the results
print("Is set1 a superset of set2 using issuperset() method:", is_superset_method)
print("Is set1 a superset of set2 using >= operator:", is_superset_operator)

Is set1 a superset of set2 using issuperset() method: True
Is set1 a superset of set2 using >= operator: True

14. Create a set from a list.

In [160]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a set from the list using the set() constructor
my_set = set(my_list)

# Print the result
print("Set from list:", my_set)

Set from list: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [161]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list using the list() constructor
my_list = list(my_set)

# Print the result
print("List from set:", my_list)

List from set: [1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [162]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element using the pop() method
removed_element = my_set.pop()

# Print the set after removal and the removed element
print("Set after removal:", my_set)
print("Removed element:", removed_element)

Set after removal: {2, 3, 4, 5}
Removed element: 1

17. Pop an element from a set.

In [163]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Pop an element using the pop() method
popped_element = my_set.pop()

# Print the set after popping and the popped element
print("Set after popping:", my_set)
print("Popped element:", popped_element)

Set after popping: {2, 3, 4, 5}
Popped element: 1

18. Check if two sets have no elements in common.

In [164]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets have no elements in common using isdisjoint()
no_common_elements = set1.isdisjoint(set2)

# Print the result
print("Do sets have no elements in common:", no_common_elements)

Do sets have no elements in common: True

19. Find the symmetric difference between two sets.

In [165]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference using symmetric_difference() method
symmetric_difference_result_method = set1.symmetric_difference(set2)

# Find the symmetric difference using ^ operator
symmetric_difference_result_operator = set1 ^ set2

# Print the results
print("Symmetric difference using symmetric_difference() method:", symmetric_difference_result_method)
print("Symmetric difference using ^ operator:", symmetric_difference_result_operator)

Symmetric difference using symmetric_difference() method: {1, 2, 3, 6, 7, 8}
Symmetric difference using ^ operator: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [166]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2 using update() method
set1.update(set2)

# Alternatively, you can use the |= operator
# set1 |= set2

# Print the updated set1
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [167]:
# Function to check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a set of the first 5 prime numbers
prime_set = {num for num in range(2, 20) if is_prime(num)}

# Print the result
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11, 13, 17, 19}

22. Check if two sets are identical.

In [168]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the sets are identical using the equality operator
are_identical = set1 == set2

# Print the result
print("Are the sets identical:", are_identical)

Are the sets identical: True

23. Create a frozen set.

In [169]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Create a frozen set from the set using the frozenset() constructor
my_frozen_set = frozenset(my_set)

# Print the frozen set
print("Frozen set:", my_frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [170]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint using isdisjoint()
are_disjoint = set1.isdisjoint(set2)

# Print the result
print("Are the sets disjoint:", are_disjoint)

Are the sets disjoint: True

25. Create a set of squares of numbers from 1 to 5.

In [171]:
# Create a set of squares using a set comprehension
squares_set = {num**2 for num in range(1, 6)}

# Print the result
print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [172]:
# Create a set with some numbers
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out even numbers using a set comprehension
filtered_set = {num for num in original_set if num % 2 != 0}

# Print the result
print("Filtered set (excluding even numbers):", filtered_set)

Filtered set (excluding even numbers): {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [173]:
# Create a set with some numbers
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out even numbers using a set comprehension
filtered_set = {num for num in original_set if num % 2 != 0}

# Print the result
print("Filtered set (excluding even numbers):", filtered_set)

Filtered set (excluding even numbers): {1, 3, 5, 7, 9}

28. Create a set of random numbers.

In [174]:
import random

# Generate a set of 5 random numbers between 1 and 10
random_set = set(random.sample(range(1, 11), 5))

# Print the result
print("Set of random numbers:", random_set)

Set of random numbers: {2, 4, 5, 7, 9}

29. Check if a set is empty.

In [175]:
# Create an empty set
empty_set = set()

# Check if the set is empty using len()
is_empty_len = len(empty_set) == 0

# Print the result
print("Is the set empty using len():", is_empty_len)

Is the set empty using len(): True

30. Create a nested set (hint: use frozenset).

In [176]:
# Create frozenset objects
set1 = frozenset({1, 2, 3})
set2 = frozenset({'a', 'b', 'c'})

# Create a nested set by including frozenset objects
nested_set = {set1, set2}

# Print the result
print("Nested set:", nested_set)

Nested set: {frozenset({1, 2, 3}), frozenset({'c', 'a', 'b'})}

31. Remove an element from a set using the discard method.

In [177]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element using the discard method
my_set.discard(3)

# Print the set after removal
print("Set after removing element:", my_set)

Set after removing element: {1, 2, 4, 5}

32. Compare two sets.

In [179]:
#1. Equality Check (==):
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

are_equal = set1 == set2

print("Are the sets equal:", are_equal)

Are the sets equal: True

In [181]:
#2. Subset Check (<= or issubset()):
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

is_subset = set2 <= set1  # Alternatively, set2.issubset(set1)

print("Is set2 a subset of set1:", is_subset)

Is set2 a subset of set1: True

In [182]:
# 3. Superset Check (>= or issuperset()):
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

is_superset = set1 >= set2  # Alternatively, set1.issuperset(set2)

print("Is set1 a superset of set2:", is_superset)

Is set1 a superset of set2: True

In [183]:
# 4. Disjoint Check (isdisjoint()):
set1 = {1, 2, 3}
set2 = {4, 5, 6}

are_disjoint = set1.isdisjoint(set2)

print("Are the sets disjoint:", are_disjoint)

Are the sets disjoint: True

33. Create a set from a string.

In [184]:
# Create a set from a string
my_string = "hello"
my_set = set(my_string)

# Print the set
print("Set from string:", my_set)

Set from string: {'o', 'h', 'l', 'e'}

34. Convert a set of strings to a set of integers.

In [185]:
# Create a set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
integer_set = {int(value) for value in string_set}

# Print the result
print("Set of integers:", integer_set)

Set of integers: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [186]:
# Create a set of integers
integer_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
string_set = {str(value) for value in integer_set}

# Print the result
print("Set of strings:", string_set)

Set of strings: {'4', '3', '1', '5', '2'}

36. Create a set from a tuple.

In [187]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a set
my_set = set(my_tuple)

# Print the result
print("Set from tuple:", my_set)

Set from tuple: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [188]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a set
my_set = set(my_tuple)

# Print the result
print("Set from tuple:", my_set)

Set from tuple: {1, 2, 3, 4, 5}

38. Find the maximum value in a set.

In [189]:
# Create a set
my_set = {10, 5, 8, 15, 3}

# Find the maximum value in the set
max_value = max(my_set)

# Print the result
print("Maximum value in the set:", max_value)

Maximum value in the set: 15

39. Find the minimum value in a set.

In [190]:
# Create a set
my_set = {10, 5, 8, 15, 3}

# Find the minimum value in the set
min_value = min(my_set)

# Print the result
print("Minimum value in the set:", min_value)

Minimum value in the set: 3

40. Create a set from user input.

In [192]:
# Get user input as a string
user_input_str = input("Enter values separated by spaces: ")

# Split the input string into a list of values
input_values = user_input_str.split()

# Convert the list of strings to a set of integers
user_set = set(map(int, input_values))

# Print the resulting set
print("Set from user input:", user_set)

Enter values separated by spaces: 1 2 3 4
Set from user input: {1, 2, 3, 4}

41. Check if the intersection of two sets is empty.

In [193]:
# 1. Using isdisjoint() method:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the intersection is empty using isdisjoint()
is_intersection_empty = set1.isdisjoint(set2)

print("Is the intersection empty:", is_intersection_empty)

Is the intersection empty: True

In [194]:
# 2. Using intersection() method:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the intersection is empty using intersection() and an empty set
intersection_result = set1.intersection(set2)

is_intersection_empty = not intersection_result

print("Is the intersection empty:", is_intersection_empty)

Is the intersection empty: True

42. Create a set of the first 5 Fibonacci numbers.

In [195]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1

    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b

    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
fibonacci_set = generate_fibonacci(5)

# Print the result
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [196]:
# Create a list with duplicates
original_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates using a set
unique_list = list(set(original_list))

# Print the result
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [1, 2, 2, 3, 4, 4, 5]
List with Duplicates Removed: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [197]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

# Check if the sets have the same elements
are_equal = set1 == set2

# Print the result
print("Do the sets have the same elements?", are_equal)

Do the sets have the same elements? True

45. Create a set of the first `n` powers of 2.

In [198]:
# Function to generate the first n powers of 2
def generate_powers_of_2(n):
    return {2 ** i for i in range(n)}

# Create a set of the first 5 powers of 2
powers_of_2_set = generate_powers_of_2(5)

# Print the result
print("Set of the first 5 powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [199]:
# Create a set and a list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find the common elements using intersection()
common_elements = my_set.intersection(my_list)

# Print the result
print("Common elements:", common_elements)

Common elements: {3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [200]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    return {i * (i + 1) // 2 for i in range(1, n + 1)}

# Create a set of the first 5 triangular numbers
triangular_numbers_set = generate_triangular_numbers(5)

# Print the result
print("Set of the first 5 triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [201]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
print("Is set2 a subset of set1?", is_subset)

Is set2 a subset of set1? True

49. Create a set of alternating 1s and 0s of length `n`.

In [206]:
# Function to generate alternating 1s and 0s
def generate_alternating_set(n):
    return {int(i % 2 == 0) for i in range(n)}

# Create a set of alternating 1s and 0s of length 10
alternating_set = generate_alternating_set(10)

# Print the result
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

50. Merge multiple sets into one.

In [207]:
# Create three sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge sets using union()
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Print the result
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}